@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Core styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
.h-1 {
    font-size: 2rem;
    padding: 0.75rem 0;
}
.p-1 {
    text-align: center;
}
.m-heading{
    text-align: center;
    font-size: 1.75;
    text-transform: uppercase;
}
/* header section */

#main-head {
    display: flex;
    background: url("../assets/backgrounds/h_img.jpg") no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}
.mouse-click {
    padding-top: 6rem;
}

#main-head .head-content{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 2rem 0;
}
#main-head .head-content img {
    padding: 1.5rem;
}

/* About section */
#about {
    margin: 3rem  2rem;
    
}
#about .about {
    text-align: center;
    padding: 2rem 3rem;

}
/* Services section */

#service {
    background: url("../assets/backgrounds/s_image.jpg") no-repeat center center/cover;
    height:50vh;
    text-align: center;
    margin: 1.5rem 0;
}
#service .service-content {
   padding-top: 6rem;
   color: #fff;
   padding-bottom: 2rem;
}
/* What we do section */
#what {
    text-align: center;
    padding: 1.5rem 1rem;
    margin: 1.5rem 1.4rem;
}
#what .m-heading{
    padding: 1.r5em;
    margin: 1.75rem;
}
.p-p {
    text-transform: uppercase;
}
.h-last {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.55rem 0;
}
.design-content,
.dev-content,
.pro-content {
    text-align: center;
    display: none;
}

/* portfolio section */
#portfolio {
    text-align: center;
    margin: 2rem 0;
    padding: 2rem 0;
}
#portfolio .m-heading {
    padding-bottom: 0.6rem;
}

.title {
    display: none;
   
}
#portfolio .p-1 {
    text-align: center;
    text-transform: uppercase;
    margin: 1.2rem;
    padding: 2rem;
    color: #fff;

   
}
.mid {
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background:#333;
    opacity: 0.55;
   font-size: 1.5rem;

}

 
 /* Contact section */
 #contact {
     margin: 1.5rem 0;
     background: url("../assets/backgrounds/c_image.jpg") no-repeat center center/cover;
     height: 70vh;
     text-align: center;
     padding: 2rem  0;
     color: #fff;
 }
 .section-c {
     padding: 1.75rem;
 }
 #contact input {
    background: #444;
    color: #fff; 
 }
#contact textarea {
     width: 100%;
     padding: 0.5rem;
     background: #444;
     color: #fff;
 }
 /* social icons */
 #social-icons{
     padding: 2rem;
     text-align: center;
     line-height: 1rem;
 }
/* footer */
#main-footer {
    text-align: center;
    color: #444;
}

.btn {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background: #333;
    padding: 0.75rem 1.8rem;
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    background: #f7c08a;
    color: #333;
  }

